<article>
	<h1><%=title%></h1>
	<sub>by <%=author%></sub>
	<p>
		<%-content%>
	</p>
	<div class="options parent-causes-fadeIn">
		<ul><li>:)</li><li>d=</li><li><3</li><li>(x)</li></ul>
	</div>
</article>