<!doctype html>
<html>
<head>
	<meta name="" content=""/>
	<title>Chronicler</title>
	<link rel="stylesheet" name="default style" media="screen" href="/css"/>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
	<script src="http://masonry.desandro.com/masonry.pkgd.min.js" type="text/javascript"></script>
</head>
<body class="mid-bg">

	<nav id="main-navigation" class="shadow-light-bg">
		<ul>
			<li>Characters</li>
			<li>Creatures</li>
			<li>Wonders</li>
			<li>Places</li>
			<li>Stories</li>
		</ul>
	</nav>
	<aside id="main-sidebar" class="highlight-bright-bg shadow-dark-fg">
		<img src="#" title="user-image" class="big avatar"/>
		<ul>
			<li>Create</li>
			<li>Explore</li>
			<li>Manage</li>
		</ul>
		<ul class="separate">
			<li>Favorites</li>
			<li>Account</li>
			<li>Settings</li>
		</ul>
	</aside>
	<main>
		<% for(var i = 0; i<articles.length; i++){ %>
			<% var title = articles[i].title, author = articles[i].author, content = articles[i].content; %>
			<% include ../partials/article.ejs %>
		<% } %>
	</main>


<script>
	var container = document.querySelector('main');
	var msnry = new Masonry( container, {
	  itemSelector: 'article',
	  columnWidth: container.querySelector("article"),
	  gutter: 20
	});
</script>
</body>
</html>