/*
 *Current working theme
 *
 * #8F002F
 * #F71A62
 * #F9E933
 * #087096
 * #019AC4
 *
 **********************************************************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

*					{
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}

html, body			{position: absolute; width: 100%; height: 100%; margin: 0; padding: 0; border: 0; font-family: "Open Sans", sans-serif; font-size: 10pt; top: 0; left: 0;}

h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}

#main-sidebar		{z-index: 9; display: inline-block; margin: -8px 20px 0; padding: 0 16px 60px; position: fixed; top: 0; padding-top: 55px;}
#main-sidebar:before{/*content:" ";*/ display: block; width: 0; height: 0; position: absolute; right: -8px;
					 border: 4px solid #700; border-color: transparent transparent #777 #777;}
#main-sidebar:after {content:" "; display: block; width: 0; height: 0; position: absolute; right: 0px; bottom: -64px;
					 border: 64px solid transparent; border-color: transparent #f7f7f7 transparent #f7f7f7; border-top: 0;}

nav#main-navigation	{z-index: 10; padding: 20px; height: 58px; position: absolute; top: 0; left: 0; width: 100%; box-shadow: inset black 0 -3px 16px -6px; border-bottom: 3px solid silver;}
nav#main-navigation:before	{content: " "; position: absolute; border: 4px solid #f7f7f7; top: 50px; width: 120px;}
nav#main-navigation:after	{content: " "; position: absolute;
							 border: 8px solid silver;
							 border-width: 0 8px 8px 0;
							 border-color: transparent transparent silver silver;
							 top: 50px; left: 148px;}

/*.highlight-bright-bg	{background: #F71A62;}
.highlight-dark-bg		{background: #8F002F;}

.mid-bg					{background: #EAEAd9;}

.shadow-dark-bg			{background: #087896;}
.shadow-light-bg		{background: #019AC4;}

.highlight-bright-fg	{color: #F71A62;}
.highlight-dark-fg		{color: #8F002F;}

.mid-fg					{color: #EAE7BC;}

.shadow-dark-fg			{color: #087896;}
.shadow-light-fg		{color: #019AC4;}*/

.highlight-bright-bg	{background: #f7f7f7;}
.highlight-dark-bg		{background: #efefef;}

.mid-bg					{background: #eaeaea;}

.shadow-dark-bg			{background: #777;}
.shadow-light-bg		{background: #555;}

.highlight-bright-fg	{color: #f7f7f7;}
.highlight-dark-fg		{color: #efefef;}

.mid-fg					{color: #eaeaea;}

.shadow-dark-fg			{color: #777;}
.shadow-light-fg		{color: #555;}



.avatar				{width: 32px; height: 32px; border-radius: 100%; border: 3px solid #f7f7f7; margin: -3px;
					 box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 16px -6px;
					 background: white;}
.big.avatar			{width: 96px; height: 96px;}
aside .avatar		{margin: 20px 0 64px;}

nav ul				{list-style: none; display: inline;}
nav ul li			{display: inline-block; }
aside ul			{list-style: none; margin: 0; padding: 0;}

main				{margin-top: 55px;
					 padding: 0 0 0 174px; min-height: 50%;}
main:after			{content:" "; clear: both; display: block;}
main article 		{display: block; margin-top: 40px; padding: 20px; border: 1px solid white;
					 width: 20%; min-width: 300px;
					 text-align: justify; float: left;
					 color: #505050; background: #f7f7f7; box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 16px -6px;}
main article:after	{content: " "; display: block; clear: both;}
main article img	{display: block; background: transparent; width: 96px; height: 256px; float: left; margin: 0px 8px 8px -30px;}

.options			{clear: both; box-shadow: rgba(50, 50, 50, 0.3) 0 -6px 16px -6px;}

.options > ul		{list-style: none; background: rgba(0, 0, 0 ,0.65); padding: 0; margin: 0 -20px -20px;}
.options > ul > li	{display: inline-block; color: #efefef; width: 25%; height: 32px; line-height: 32px; text-align: center; cursor: pointer;}
.options > ul > li:hover {background: rgba(50, 50, 50, 0.65);}

.separate:before	{content:" "; display: block; border-top: rgba(0, 0, 0 ,0.1) double 4px; margin: 8px 0;}
.bookmarked:before	{content:" "; display: block; border: 8px solid purple; border-bottom-color: transparent; height: 12px; width: 0; position: absolute; right: 3px; top: -5px;}

.parent-causes-fadeIn		{opacity: 0;}
*:hover > .parent-causes-fadeIn	{opacity: 1;}